In [3]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import mysql.connector

### we have our data in mysql databse so lets connect our notebook with our database

In [2]:
df=pd.read_csv('data of 1e-commerce project (3)\data of 1e-commerce project\orders.csv')
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [4]:
db = mysql.connector.connect(host = "localhost",
                             username = "root",
                             password = "password123",
                             database = "ecommerce")

cur = db.cursor()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

## we have 6 tables in our database lets have a look at them

# 1) customers

In [ ]:
query = """ select * from customers """ 

cur.execute(query)
data =  cur.fetchall()

columns = [col[0] for col in cur.description]

customers= pd.DataFrame(data , columns = columns)
customers.head()

In [ ]:
customers.shape

In [ ]:
customers.isnull().sum()

In [ ]:
customers.info()

# 2) orders

In [ ]:
query = """ select * from orders """ 

cur.execute(query)
data =  cur.fetchall()

columns = [col[0] for col in cur.description]

orders = pd.DataFrame(data , columns = columns)
orders.head()

In [3]:
orders.shape

NameError: name 'orders' is not defined

In [ ]:
orders.isnull().sum()

### Deal with null values

In [ ]:
### there are 3 columns with null values which means as following : 
### order_approved_at is null (means order does not approved)
### order_deliver_carrier_date is null (means order did'nt shipped)
### order_delivered_csutomer_date is null *order not delivered to customer)

## lets fill those null values

In [ ]:
[orders["order_status"].unique()]

In [ ]:
orders["order_approved_at"] = orders.order_approved_at.fillna("order not approved")
orders["order_delivered_customer_date"] = orders.order_approved_at.fillna("order not delivered")
orders["order_delivered_carrier_date"] = orders.order_approved_at.fillna("order not shipped")

In [ ]:
orders.isnull().sum()

# order_items

In [ ]:
query = """ select * from order_items """ 

cur.execute(query)
data =  cur.fetchall()

columns = [col[0] for col in cur.description]

order_items = pd.DataFrame(data , columns = columns)
order_items.head()

In [ ]:
order_items.shape

In [ ]:
order_items.isnull().sum()

In [ ]:
order_items.describe()

# Sellers

In [ ]:
query = """ select * from sellers """ 

cur.execute(query)
data =  cur.fetchall()

columns = [col[0] for col in cur.description]

sellers = pd.DataFrame(data , columns = columns)
sellers.head()

In [ ]:
sellers.shape

In [ ]:
sellers.isnull().sum()

# Payments

In [ ]:
query = """ select * from payments """ 

cur.execute(query)
data =  cur.fetchall()

columns = [col[0] for col in cur.description]

payments = pd.DataFrame(data , columns = columns)
payments.head()

In [ ]:
payments.shape

In [ ]:
payments.isnull().sum()

In [ ]:
payments.describe()

# Products

In [ ]:
query = """ select * from products """ 

cur.execute(query)
data =  cur.fetchall()

columns = [col[0] for col in cur.description]

products = pd.DataFrame(data , columns = columns)
products.head()

In [ ]:
products.shape

In [ ]:
products.isnull().sum()

## Deal with null values

#### I am mentioning product category as"others" where ctaegory is null , and mention "not defined" on the dimensions value where they are null

In [ ]:
products["product_category"] = products["product_category"].fillna("others")

In [ ]:
products = products.fillna("not defined")

In [ ]:
products.isnull().sum()

## Now from these tables we have to retrieve insights which are beneficial for us to get valueable outcomes for our business ,these insights are retrieved below...

# 1) get Yearly sales value

In [ ]:
query = """ select year(o.order_purchase_timestamp) as 'year' , Round(sum(p.payment_value),2) from 
            orders o join payments p on 
            p.order_id = o.order_id
            group by year """

cur.execute(query)
data = cur.fetchall()

yearly_sales = pd.DataFrame(data , columns = ["Year" , "Total_Sales"])
yearly_sales

In [ ]:
sns.barplot(x = "Year" , y = "Total_Sales" , data = yearly_sales , palette = "deep6")

plt.title('Yearly Sales')
plt.xlabel('years')
plt.ylabel('sales')
plt.show()

# 2) get monthly trend on order count

In [ ]:
query = """select month(o.order_purchase_timestamp) as month_number,  monthname(o.order_purchase_timestamp) as months ,  count(o.order_id ) orders  
from orders o
where year(o.order_purchase_timestamp) != 2016
group by  months , month_number
order by month_number """

cur.execute(query)
data = cur.fetchall()

df = pd.DataFrame(data , columns = ["month_number" ,"month_name" , "Number of orders"]  )
df

### Year 2016 is ignored as we did not have date for all the months in 2016

In [ ]:
plt.figure(figsize = (20,10))
sns.lineplot(x="month_name" , y = "Number of orders" ,  data = df )
plt.title("monthly trend on order count")
plt.xlabel("Months")
plt.ylabel("Order_count")
plt.show()

## There can be many reason like , less sale or offers around september ,Stockouts, website outages, app crashes , Seasonal Demand Shift (August might  include back-to-school or festive sales) etc.

## But as we did not have enough data to analyse these reasons we cannot find the exact reason.

# 3) Product_Category wise Sales

In [ ]:
query = """  select products.product_category  category  , round(sum(payments.payment_value),2)  sales
from products join order_items 
on products.product_id = order_items.product_id
join payments on payments.order_id = order_items.order_id
group by category order by sales desc """ 

cur.execute(query)

data = cur.fetchall()

category_wise_sales = pd.DataFrame( data , columns = ["Product_category" , "Sales"])
category_wise_sales

## Thus Following are the Top Selling Product Categories

In [ ]:
top_selling_categories = category_wise_sales.head()
top_selling_categories

# 4) Top 5 Sellers on the basis of payment value

In [ ]:
query =  """ select ot.seller_id , Round(sum(p.payment_value),2) sales from order_items ot
             join payments p on 
             ot.order_id = p.order_id 
             group by ot.seller_id  
             order by sales desc 
             limit 5 """

cur.execute(query)
data = cur.fetchall()

Top_5_Sellers = pd.DataFrame(data , columns = ["Seller_id","Sales_Value"])
Top_5_Sellers

# 5) Top_5_Customers on the basis of Payment_value

In [ ]:
query = """ select o.customer_id , Round(sum(p.payment_value),2) Purchase_Amount from orders o 
             join order_items ot on ot.order_id = o.order_id 
             join payments p on p.order_id = ot.order_id 
             group by o.customer_id
             order by Purchase_Amount desc
             limit 5 """

cur.execute(query)
data = cur.fetchall()

Top_5_Customers = pd.DataFrame(data , columns = ["Customers" , "Purchase_Amount"])
Top_5_Customers

# 6) let's check how many orders are delivered late (after estimated delivery date)

In [ ]:
query = """ with cte1 as (select count(order_id) o1  from 
            orders where order_delivered_customer_date > order_estimated_delivery_date) ,
            
            cte2 as(select count(order_id) o from orders) 
            
            select cte1.o1 , cte2.o from cte1,cte2 """

cur.execute(query)

data = cur.fetchall()

late_deliveries = pd.DataFrame(data , columns = ["Late_Delivery" , "Total_Delivery"])
late_deliveries

In [ ]:
values = late_deliveries.iloc[0][["Late_Delivery" , "Total_Delivery"]]
labels =  ["Late_Delivery" , "Total_Delivery"]

plt.pie(values , labels = labels , autopct = '%1.1f%%' , startangle = 90 )
plt.title("Late Delivery %")
plt.axis('equal')
plt.show()

# 7) Check out for the city wise % rate  for late deliveries

In [ ]:
query = """ with cte1 as (select c.customer_city , count(ot.order_id) late from  orders ot join 
            customers c on c.customer_id = ot.customer_id 
            where ot.order_delivered_customer_date > ot.order_estimated_delivery_date 
            group by c.customer_city) ,
            cte2 as(
            select c.customer_city , count(ot.order_id) total from  orders ot join 
            customers c on c.customer_id = ot.customer_id 
            group by c.customer_city)
            
            select cte1.customer_city , cte1.late , cte2.total , Round((cte1.late/cte2.total)*100,2) as late_delivery_per  from cte1 join cte2 on 
            cte1.customer_city = cte2.customer_city
            where cte2.total >= 100 
            order by late_delivery_per desc """ 

cur.execute(query)
data = cur.fetchall()

late_delivery_cities = pd.DataFrame( data , columns = ["City" , "Late Delivery Count" , "Total Delivery Count" , "Percentage_rate_of_late_deliveries"])
late_delivery_cities

In [ ]:
top_late_delivery_cities = late_delivery_cities.head(10)

In [ ]:
plt.figure(figsize = (20,10))
sns.barplot(x = "City" , y = "Percentage_rate_of_late_deliveries" , data = top_late_delivery_cities  , palette = "deep6")
plt.title("top_5_late_delivery_cities")
plt.show()

### we have checked for the cities which have more then 100 orders for relevent check , and got some cities listed in the table where  more then 25% deliveries are late

# 8) Average number of days between delivery date and  order_approved_date

In [ ]:
query = """ select  Round(avg(datediff(order_delivered_customer_date , order_approved_at))) as days from 
            orders """

cur.execute(query)
data = cur.fetchall()

df = pd.DataFrame(data , columns = ["Average_days_for_delivery"] )
df

## on an average 12 Days are taken to deliver order after approval date

# 9) what are diffrent Payment methods and which is the most prominent one

In [ ]:
query = """ select payment_type, Round(sum(payment_value),2) as total_pymnt from 
            payments 
            group by payment_type 
            order by total_pymnt desc """

cur.execute(query)
data = cur.fetchall()

Payment_Types = pd.DataFrame(data , columns = ["payment_type","total_payment"] )
Payment_Types

In [ ]:
sns.barplot(x = "payment_type" , y = "total_payment" , data = Payment_Types , palette = "deep6")
plt.title("Diffrent Payment Methods and Total Payments made thorugh them")
plt.show()

## Most of the Payments are made through credit cards

# 10) Percentage of Payments made in installments

In [ ]:
query = """ select Round((count(*)/(select count(*) from payments))*100 ,2)   from payments 
             where 	payment_installments > 1 """

cur.execute(query)
data = cur.fetchall()

df = pd.DataFrame(data , columns = ["Percentage of Payments made in installments"] )
df

### 49.42 % of Pyaments are made in installments

# 11) City wise Count of customers

In [ ]:
query = """ select customer_city , count(distinct customer_id) cnt from customers 
            group by customer_city
            order by cnt desc"""

cur.execute(query)
data = cur.fetchall()

df = pd.DataFrame(data , columns = ["City" , "Number of Customers"] )
df

### Top 5 cities according to customer count

In [ ]:
ddf = df.head(5)

In [ ]:
sns.barplot(x = "City" , y = "Number of Customers" , data = ddf , palette = "deep6")
plt.title("Top 5 cities according to customer count")
plt.show()

### We can find more insights as per the requirements

# Thank You